version: "3.8"

services:

  app:
    build:
      context: ./src/app
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - ./src/app:/src/app
      - /src/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - api

  api:
    build:
      context: ./src/api
      dockerfile: Dockerfile.api
    container_name: api
    volumes:
      - ./src/api:/src/api
      - /src/api/node_modules
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: